#root,
html,
body {
  height: 100vh;
  /* background-color: #F0FFF0; */
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* add background color on active */

.makeStyles-activeCard-23:active {
  background: 		#797483 !important;
}
.makeStyles-activeCard-23:focus {
  background: 		#797483 !important;
}
.makeStyles-activeCard-23 {
  background: 		#797483 !important;
}
